*DS_Store
DogFeedScheduler.xcodeproj/xcuserdata/bill.xcuserdatad/xcdebugger/*
DogFeedScheduler.xcodeproj/xcuserdata/bill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DogFeedScheduler.xcodeproj/xcshareddata/
DogFeedScheduler.xcodeproj/project.xcworkspace/xcuserdata/bill.xcuserdatad/UserInterfaceState.xcuserstate
DogFeedScheduler.xcodeproj/project.xcworkspace/xcuserdata/*
DogFeeder
