*DS_Store
test
DogFeedScheduler/DogFeedScheduler/DogFeederScheduler
DogFeedScheduler/DogFeedScheduler.xcodeproj/xcuserdata/bill.xcuserdatad/xcdebugger/*
DogFeedScheduler/DogFeedScheduler.xcodeproj/project.xcworkspace/xcuserdata/bill.xcuserdatad/UserInterfaceState.xcuserstate
DogFeedScheduler/DogFeedScheduler/DogFeeder
