*DS_Store
DogFeedScheduler.xcodeproj/xcuserdata/bill.xcuserdatad/xcdebugger/*
DogFeedScheduler.xcodeproj/xcshareddata/
DogFeedScheduler.xcodeproj/project.xcworkspace/xcuserdata/bill.xcuserdatad/UserInterfaceState.xcuserstate
DogFeedScheduler.xcodeproj/project.xcworkspace/xcuserdata/*
DogFeeder
